<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div style="text-align: center">
    <img src="$.png" alt="lost.png">
<form action="/" method="get" >
    <span th:text="${ex.getBaseCurrency()}">value</span>
    <span> - </span>
    <span th:text="${ex.getCurrency()}">value</span>
    <p></p>
    <span>Sale Rate:</span>
    <span th:text="${ex.getSaleRate()}">value</span>
    <p></p>
    <span>Purchase Rate:</span>
    <span th:text="${ex.getPurchaseRate()}">value</span>
    <p></p>
    <label for="a">From</label><input type="date" id="a" name="a"
                                      value="2022-11-19"
                                  min="2021-11-19" max="2022-11-19">
    <label for="b">To</label><input type="date" id="b" name="b"
                                  min="2021-11-19" max="2022-11-19">
    <input type="submit" value="Show">
</form>
</div>
</body>
</html>